<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>Login Page</title>

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/app.css}"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css"/>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration Success!</title>
    </head>

<body>
<div class="generic-container">

    <th:block th:insert="authheader"/>

    <div class="alert alert-success lead">
        <p>Success!!!</p>
    </div>

    <span class="well floatRight">
        Go to<a th:href="@{/list}"> Users List</a>
		</span>
</div>
</body>
</html>